{% comment %}
###############################################################################
# Path breadcrumbs
###############################################################################
{% endcomment %}

{% block cloud_browser_breadcrumbs %}
  <li>
  <a class="cloud-browser-breadcrumb-link"
       href="{% url 'cloud_browser_browser' '' %}">Home</a>
  </li>
  {% for crumb_path, crumb in breadcrumbs %}
    <li>
    <a class="cloud-browser-breadcrumb-link"
     href="{% url 'cloud_browser_browser' crumb_path %}">{{ crumb }}</a>
    </li>
  {% endfor %}
{% endblock %}
